{% extends "layout.html" %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Room Expense Tracker</title>
</head>
<body>
    <div class="text-center mt-5">
    <h1 class="fw-bold">Welcome to Room Expense Tracker</h1>
    <p class="lead text-muted">Track your shared room expenses easily.</p>

    <a href="/login" class="btn btn-primary btn-lg mt-3">Login</a>
    <a href="/register" class="btn btn-outline-secondary btn-lg mt-3">Register</a>
    </div>
</body>
</html>

{% endblock %}


